@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.max-vh {
  max-height: 100vh;
}

.min-vh {
  min-height: 100vh;
}

.skew-y {
  transform: skewy(5deg);
}

.skew-y-reverse {
  transform: skewY(-5deg);
}

body {
  color: white;
  background-color: black;
}

.navbar {
  padding: 0;
}

.navbar-toggler {
  margin-left: auto;
}
.navbar-toggler:focus {
  box-shadow: none;
}

ul#main-navigation {
  width: 100%;
}
ul#main-navigation li {
  text-align: center;
  flex-grow: 1;
  transition-duration: 0.2s;
  color: white;
  background-color: #060618;
}
ul#main-navigation li.nav-item a.nav-link {
  color: #ebebeb;
  background-color: #060618;
}
ul#main-navigation li.nav-item a:hover,
ul#main-navigation li.nav-item a:focus, ul#main-navigation li.nav-item:hover, ul#main-navigation li.nav-item:focus {
  color: white;
  background-color: #0a0a23;
}

.section-heading {
  font-family: "Michroma";
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: start;
}

.fa-sort-down {
  font-size: 3rem;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

.blink-pulse-me {
  -webkit-animation: pulse 2s infinite;
  animation: blinker 1s linear infinite, pulse 2s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#landing {
  background: linear-gradient(to left, #e66465, #9198e5);
}
#landing .client-image {
  height: 20vh;
}
#landing .main-heading {
  margin-top: 20px;
  font-family: "Michroma";
  text-align: center;
}
#landing .scroll-div {
  margin-top: 5%;
}
#landing .scroll-text {
  font-size: 0.8rem;
}

#intro {
  background-color: black;
}
#intro .col-md {
  margin-bottom: 5rem;
}
#intro .text-box {
  position: relative;
  background-color: white;
  color: black;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
  border-radius: 50px 50px 0px;
}
#intro .text-box-secondary {
  color: #979797;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
}
#intro .link-box {
  transform-origin: top left;
  margin-top: 3rem;
}
#intro .link-box i {
  margin: 1rem;
  font-size: 2rem;
}
#intro .link-box .col {
  border-radius: 10px 10px 0px;
  text-align: center;
  transition-duration: 1s;
}
#intro .link-box .col a {
  text-decoration: none;
  color: #ebebeb;
}
#intro .link-box .col:hover {
  cursor: pointer;
  background-color: #979797;
}
#intro .link-box .col:hover a {
  color: black;
}
#intro .link-box .col:hover i {
  margin: 0.6rem;
  font-size: 2.4rem;
}
#intro .link-box .col:hover span {
  display: inline;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}
#intro .link-box .col:hover:first-child {
  background-color: #2867B2;
}
#intro .link-box .col:hover:first-child a {
  color: white;
}
#intro .link-box .col:hover:last-child {
  background-color: #1DA1F2;
}
#intro .link-box .col:hover:last-child a {
  color: white;
}
#intro .heading-div {
  overflow: hidden;
}
#intro .heading {
  font-family: "Fascinate";
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

#theatre-technician {
  background-color: teal;
}
#theatre-technician .mb {
  margin-bottom: 5rem;
}
#theatre-technician .text-box {
  position: relative;
  background-color: black;
  color: teal;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
  border-radius: 50px 50px 0px;
}
#theatre-technician .tag {
  position: absolute;
  color: black;
  background-color: teal;
  right: -0.05rem;
  bottom: -0.04rem;
  margin: 0;
  padding: 0.5rem;
}
#theatre-technician .text-box-secondary {
  color: #bebebe;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
}
#theatre-technician .link-box {
  transform-origin: top left;
  margin-top: 3rem;
}
#theatre-technician .link-box i {
  margin: 1rem;
  font-size: 2rem;
}
#theatre-technician .link-box .col {
  border-radius: 10px 10px 0px;
  text-align: center;
  transition-duration: 1s;
}
#theatre-technician .link-box .col a {
  text-decoration: none;
  color: #ebebeb;
}
#theatre-technician .link-box .col:hover {
  cursor: pointer;
  background-color: #979797;
}
#theatre-technician .link-box .col:hover a {
  color: black;
}
#theatre-technician .link-box .col:hover i {
  margin: 0.6rem;
  font-size: 2.4rem;
}
#theatre-technician .link-box .col:hover span {
  display: inline;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}
#theatre-technician .link-box .col:hover:first-child {
  background-color: black;
}
#theatre-technician .link-box .col:hover:first-child a {
  color: white;
}
#theatre-technician .link-box .col:hover:last-child {
  background-color: white;
}
#theatre-technician .link-box .col:hover:last-child a {
  color: teal;
}
#theatre-technician img {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 20px black;
}
#theatre-technician .backdrop::before {
  transform: skewY(-5deg);
  transform-origin: top left;
  background-image: url(https://www.cyohealthcareer.com.au/wp-content/uploads/2019/06/Operating-theatre-892by532.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#tennis-club {
  background-color: greenyellow;
}
#tennis-club .text-box {
  position: relative;
  background-color: antiquewhite;
  color: black;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
  border-radius: 50px 50px 0px;
}
#tennis-club .tag {
  position: absolute;
  color: white;
  background-color: #336699;
  right: -0.03rem;
  bottom: -0.03rem;
  margin: 0;
  padding: 0.5rem;
}
#tennis-club .text-box-secondary {
  color: black;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
}
#tennis-club .link-box {
  transform-origin: top left;
  margin-top: 3rem;
}
#tennis-club .link-box i {
  margin: 1rem;
  font-size: 2rem;
}
#tennis-club .link-box .col {
  border-radius: 10px 10px 0px;
  text-align: center;
  transition-duration: 1s;
}
#tennis-club .link-box .col a {
  text-decoration: none;
  color: #336699;
}
#tennis-club .link-box .col:hover {
  cursor: pointer;
  background-color: #979797;
}
#tennis-club .link-box .col:hover a {
  color: black;
}
#tennis-club .link-box .col:hover i {
  margin: 0.6rem;
  font-size: 2.4rem;
}
#tennis-club .link-box .col:hover span {
  display: inline;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}
#tennis-club .link-box .col:hover:first-child {
  background-color: black;
}
#tennis-club .link-box .col:hover:first-child a {
  color: white;
}
#tennis-club .link-box .col:hover:last-child {
  background-color: antiquewhite;
}
#tennis-club .link-box .col:hover:last-child a {
  color: black;
}

#watch-shop {
  background-color: white;
  color: black;
}
#watch-shop .text-box {
  position: relative;
  background-color: black;
  color: white;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
  border-radius: 50px 50px 0px;
}
#watch-shop .tag {
  position: absolute;
  color: white;
  background-color: red;
  right: -0.03rem;
  bottom: -0.03rem;
  margin: 0;
  padding: 0.5rem;
}
#watch-shop .text-box-secondary {
  color: black;
  font-family: "Michroma";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
}
#watch-shop .link-box {
  transform-origin: top left;
  margin-top: 3rem;
}
#watch-shop .link-box i {
  margin: 1rem;
  font-size: 2rem;
}
#watch-shop .link-box .col {
  border-radius: 10px 10px 0px;
  text-align: center;
  transition-duration: 1s;
}
#watch-shop .link-box .col a {
  text-decoration: none;
  color: black;
}
#watch-shop .link-box .col:hover {
  cursor: pointer;
  background-color: #979797;
}
#watch-shop .link-box .col:hover a {
  color: black;
}
#watch-shop .link-box .col:hover i {
  margin: 0.6rem;
  font-size: 2.4rem;
}
#watch-shop .link-box .col:hover span {
  display: inline;
  letter-spacing: 0.2rem;
  transition: 0.5s;
}
#watch-shop .link-box .col:hover:first-child {
  background-color: #2867B2;
}
#watch-shop .link-box .col:hover:first-child a {
  color: white;
}
#watch-shop .link-box .col:hover:last-child {
  background-color: #1DA1F2;
}
#watch-shop .link-box .col:hover:last-child a {
  color: white;
}

footer {
  height: 50vh;
  background-color: black;
}

/*# sourceMappingURL=index.css.map */
