// VARIABLES
$light: #ebebeb;
$navy: #0a0a23;
$dark-navy: #060618;

//ALIGNMENT
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// UNIVERSAL
body {
    color: white;
    background-color: $navy;
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    margin-left: auto;
    &:focus {
        box-shadow: none;
    }
}

ul#main-navigation {
    width: 100%;
    li {
        text-align: center;
        flex-grow: 1;
        transition-duration: 0.2s;
        color: white;
        background-color: $dark-navy;
        &.nav-item {
            a {
                &.nav-link{
                    color: $light;
                    background-color: $dark-navy;
                }
            }   
            a:hover, &:hover {
                color: white;
                background-color: $navy;
            } 
        }
    }
}




